4.6 Merging and exporting data

This script contains the following points:
1.Import the data set into Jupyter as a new dataframe: df_ords_prior.
2.Check the dimensions of the imported dataframe.
3.Merge the dataframe with your df_ords dataframe.
4.Use the indicator argument to check whether there was a full match between the two dataframes.
5.Exporting Data in Pickle Format.

In [28]:
# Import libraries

import pandas as pd
import numpy as np
import os

1.Import the data set into Jupyter as a new dataframe: df_ords_prior

In [29]:
#import .csv
path=r'E:\Instacart Basket Analysis'
df_ords_prior= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col=False)
df_ords_clean= pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col= False)

2.Check the dimensions of the imported dataframe.

In [30]:
#check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [31]:
#check the output
df_ords_clean.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,11.114836
1,1,2398795,1,prior,2,3,7,15.000000
2,2,473747,1,prior,3,3,12,21.000000
3,3,2254736,1,prior,4,4,7,29.000000
4,4,431534,1,prior,5,4,15,28.000000

In [32]:
df_ords_clean=df_ords[['order_id', 'user_id','eval_set','order_number','orders_day_of_week','order_hour_of_day','days_since_prior_order']]

In [33]:
df_ords_prior.shape

(32434489, 4)

In [34]:
df_ords_clean.shape

(1048575, 7)

3.Merge the dataframe with your df_ords dataframe.

In [35]:
df_merged_large = df_ords_clean.merge(df_ords_prior, on = 'order_id', indicator = True)

In [36]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,11.114836,196,1,0,both
1,2539329,1,prior,1,2,8,11.114836,14084,2,0,both
2,2539329,1,prior,1,2,8,11.114836,12427,3,0,both
3,2539329,1,prior,1,2,8,11.114836,26088,4,0,both
4,2539329,1,prior,1,2,8,11.114836,26405,5,0,both

4.Use the indicator argument to check whether there was a full match between the two dataframes.

In [37]:
df_merged_large['_merge'].value_counts()

_merge
both          9927471
left_only           0
right_only          0
Name: count, dtype: int64

5.Exporting Data in Pickle Format

In [38]:
# Export data to csv

df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))