4.6 Merging and exporting data-ords_prods_merge

This script contains the following points:
1.import the orders_products_combined dataframe from the pickle file.
2.Check the shape of the imported dataframe.
3.Combine the orders_products_combined dataframe with your products data set.
4.Confirm the results of the merge using the merge flag.
5.Export the newly created dataframe as ords_prods_merge in a suitable format.

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

1.import the orders_products_combined dataframe from the pickle file.

In [5]:
#import .csv
path=r'E:\Instacart Basket Analysis'
df_orders_products_combined= pd.read_pickle(os.path.join(path,'02 Data','Prepared Data', 'orders_products_combined.pkl' ))
df_prods_clean= pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col= False)

2.Check the shape of the imported dataframe.

In [6]:
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,11.114836,196,1,0,both
1,2539329,1,prior,1,2,8,11.114836,14084,2,0,both
2,2539329,1,prior,1,2,8,11.114836,12427,3,0,both
3,2539329,1,prior,1,2,8,11.114836,26088,4,0,both
4,2539329,1,prior,1,2,8,11.114836,26405,5,0,both

In [7]:
df_orders_products_combined.shape

(9927471, 11)

In [9]:
df_prods_clean.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
df_prods_clean=df_prods_clean[['product_id', 'product_name','aisle_id','department_id','prices']]
df_prods_clean.shape

(49672, 5)

3.Combine the orders_products_combined dataframe with your products data set.
4.Confirm the results of the merge using the merge flag.

In [26]:
df_merged_large_ords_prods =df_orders_products_combined.merge(df_prods_clean, on='product_id', indicator='merge_flag' )
df_merged_large_ords_prods.head()

MemoryError: Unable to allocate 379. MiB for an array with shape (5, 9927471) and data type int64

In [ ]:
df_merged_large_ords_prods ['merge_flag'].value_counts()

5.Export the newly created dataframe as ords_prods_merge in a suitable format.

In [ ]:
# Export data to csv

df_merged_large_ords_prods.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

# Export data to pkl

df_merged_large_ords_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))