This script contains the following points: 
1.Import df_ords_prods_merge.
2.Creat df subset of the first one million entries.
3.Split the data into groups based on some criteria with groupby().
4.produce a single descriptive statistic for the “order_number” column.
5.produce Multiple Aggregations  for the “order_number” column.
6.Create loyalty Flag..7
8.Export the newly created dataframe as ords_prods_merge in a suitable format.

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

1.Import df_ords_prods_merge.

In [4]:
#import .csv
path=r'E:\Instacart Basket Analysis'
df_ords_prods_merge=pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))

2.Creat df subset of the first one million entries.

In [5]:
df=df_ords_prods_merge[:1000000]

In [6]:
df.shape

(1000000, 16)

In [8]:
df.head(10)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,merge_flag
0,2539329,1,prior,1,2,8,11.114836,196,1,0,both,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.000000,196,1,1,both,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.000000,196,1,1,both,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.000000,196,1,1,both,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.000000,196,1,1,both,Soda,77,7,9.0,both
5,3367565,1,prior,6,2,7,19.000000,196,1,1,both,Soda,77,7,9.0,both
6,550135,1,prior,7,1,9,20.000000,196,1,1,both,Soda,77,7,9.0,both
7,3108588,1,prior,8,1,14,14.000000,196,2,1,both,Soda,77,7,9.0,both
8,2295261,1,prior,9,1,16,0.000000,196,4,1,both,Soda,77,7,9.0,both
9,2550362,1,prior,10,4,8,30.000000,196,1,1,both,Soda,77,7,9.0,both

3.Split the data into groups based on some criteria with groupby()

In [10]:
df.groupby('product_name')

4.produce a single descriptive statistic for the “order_number” column.

In [11]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                14.974233
3                18.300079
4                18.765849
6                16.470395
7                17.890720
11               21.682310
12               16.924342
13               17.907075
14               16.964049
15               18.233493
16               18.116992
17               10.552279
19               17.504216
20               17.251314

5.produce Multiple Aggregations  for the “order_number” column.

In [12]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                14.974233   1  99
3                18.300079   1  99
4                18.765849   1  99
6                16.470395   1  90
7                17.890720   1  99
11               21.682310   1  99
12               16.924342   1  95
13               17.907075   1  99
14               16.964049   1  99
15               18.233493   1  99
16               18.116992   1  99
17               10.552279   1  98
19               17.504216   1  99
20               17.251314   1  99

6.Create loyalty flag.
a)Split the data into groups based on the “user_id” column.
b)Apply the transform() function on the “order_number” column to generate the maximum orders for each user.
c)Create a new column, “max_order,” into which you’ll place the results of your aggregation.
d)creat loyalty flag with loc().

In [15]:
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform("max")

In [16]:
df_ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,merge_flag,max_order
0,2539329,1,prior,1,2,8,11.114836,196,1,0,both,Soda,77,7,9.0,both,10
1,2398795,1,prior,2,3,7,15.000000,196,1,1,both,Soda,77,7,9.0,both,10
2,473747,1,prior,3,3,12,21.000000,196,1,1,both,Soda,77,7,9.0,both,10
3,2254736,1,prior,4,4,7,29.000000,196,1,1,both,Soda,77,7,9.0,both,10
4,431534,1,prior,5,4,15,28.000000,196,1,1,both,Soda,77,7,9.0,both,10

In [17]:
df_ords_prods_merge.head(100)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,merge_flag,max_order
0,2539329,1,prior,1,2,8,11.114836,196,1,0,both,Soda,77,7,9.0,both,10
1,2398795,1,prior,2,3,7,15.000000,196,1,1,both,Soda,77,7,9.0,both,10
2,473747,1,prior,3,3,12,21.000000,196,1,1,both,Soda,77,7,9.0,both,10
3,2254736,1,prior,4,4,7,29.000000,196,1,1,both,Soda,77,7,9.0,both,10
4,431534,1,prior,5,4,15,28.000000,196,1,1,both,Soda,77,7,9.0,both,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,prior,1,5,12,11.114836,196,1,0,both,Soda,77,7,9.0,both,3
96,1469869,377,prior,3,5,17,3.000000,196,9,0,both,Soda,77,7,9.0,both,3
97,1927023,387,prior,2,4,10,22.000000,196,3,0,both,Soda,77,7,9.0,both,8
98,858092,420,prior,4,1,19,30.000000,196,2,0,both,Soda,77,7,9.0,both,22
99,119314,420,prior,5,3,19,16.000000,196,2,1,both,Soda,77,7,9.0,both,22

In [18]:
pd.options.display.max_rows = None

In [19]:
df_ords_prods_merge.head(100)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,merge_flag,max_order
0,2539329,1,prior,1,2,8,11.114836,196,1,0,both,Soda,77,7,9.0,both,10
1,2398795,1,prior,2,3,7,15.000000,196,1,1,both,Soda,77,7,9.0,both,10
2,473747,1,prior,3,3,12,21.000000,196,1,1,both,Soda,77,7,9.0,both,10
3,2254736,1,prior,4,4,7,29.000000,196,1,1,both,Soda,77,7,9.0,both,10
4,431534,1,prior,5,4,15,28.000000,196,1,1,both,Soda,77,7,9.0,both,10
5,3367565,1,prior,6,2,7,19.000000,196,1,1,both,Soda,77,7,9.0,both,10
6,550135,1,prior,7,1,9,20.000000,196,1,1,both,Soda,77,7,9.0,both,10
7,3108588,1,prior,8,1,14,14.000000,196,2,1,both,Soda,77,7,9.0,both,10
8,2295261,1,prior,9,1,16,0.000000,196,4,1,both,Soda,77,7,9.0,both,10
9,2550362,1,prior,10,4,8,30.000000,196,1,1,both,Soda,77,7,9.0,both,10
10,2968173,15,prior,15,1,9,7.000000,196,2,0,both,Soda,77,7,9.0,both,22
11,1870022,15,prior,17,2,16,8.000000,196,6,1,both,Soda,77,7,9.0,both,22
12,1911383,15,prior,18,2,11,7.000000,196,1,1,both,Soda,77,7,9.0,both,22
13,2715276,15,prior,21,1,9,7.000000,196,1,1,both,Soda,77,7,9.0,both,22
14,487368,15,prior,22,1,10,14.000000,196,1,1,both,Soda,77,7,9.0,both,22
15,2293453,19,prior,2,5,14,6.000000,196,3,0,both,Soda,77,7,9.0,both,9
16,1973799,19,prior,5,6,12,8.000000,196,15,1,both,Soda,77,7,9.0,both,9
17,532817,19,prior,7,4,17,6.000000,196,1,1,both,Soda,77,7,9.0,both,9
18,1573906,21,prior,10,3,10,6.000000,196,2,0,both,Soda,77,7,9.0,both,33
19,1593000,31,prior,10,3,8,7.000000,196,17,0,both,Soda,77,7,9.0,both,20
20,2231262,31,prior,17,3,11,8.000000,196,14,1,both,Soda,77,7,9.0,both,20
21,2580647,43,prior,6,4,16,4.000000,196,9,0,both,Soda,77,7,9.0,both,11
22,2187180,43,prior,9,4,12,3.000000,196,1,1,both,Soda,77,7,9.0,both,11
23,2497897,52,prior,1,1,9,11.114836,196,4,0,both,Soda,77,7,9.0,both,27
24,1318871,52,prior,2,1,10,7.000000,196,5,1,both,Soda,77,7,9.0,both,27
25,1261384,52,prior,3,1,10,7.000000,196,3,1,both,Soda,77,7,9.0,both,27
26,580568,52,prior,5,2,10,8.000000,196,6,1,both,Soda,77,7,9.0,both,27
27,2428073,52,prior,7,2,7,8.000000,196,5,1,both,Soda,77,7,9.0,both,27
28,342306,52,prior,9,1,11,7.000000,196,5,1,both,Soda,77,7,9.0,both,27
29,1520353,52,prior,10,2,10,8.000000,196,4,1,both,Soda,77,7,9.0,both,27
30,2542086,52,prior,11,2,9,7.000000,196,3,1,both,Soda,77,7,9.0,both,27
31,944694,52,prior,12,1,16,6.000000,196,7,1,both,Soda,77,7,9.0,both,27
32,1268191,52,prior,15,2,11,8.000000,196,3,1,both,Soda,77,7,9.0,both,27
33,1122089,52,prior,17,2,10,6.000000,196,4,1,both,Soda,77,7,9.0,both,27
34,1498922,52,prior,18,2,10,14.000000,196,6,1,both,Soda,77,7,9.0,both,27
35,180919,52,prior,19,3,8,8.000000,196,4,1,both,Soda,77,7,9.0,both,27
36,2695875,52,prior,21,5,10,30.000000,196,1,1,both,Soda,77,7,9.0,both,27
37,3205960,67,prior,1,3,11,11.114836,196,1,0,both,Soda,77,7,9.0,both,24
38,970922,67,prior,2,1,15,5.000000,196,2,1,both,Soda,77,7,9.0,both,24
39,596585,67,prior,3,1,13,7.000000,196,2,1,both,Soda,77,7,9.0,both,24
40,2037087,67,prior,4,2,9,8.000000,196,1,1,both,Soda,77,7,9.0,both,24
41,2474111,67,prior,5,3,14,8.000000,196,2,1,both,Soda,77,7,9.0,both,24
42,1568481,67,prior,6,3,12,7.000000,196,2,1,both,Soda,77,7,9.0,both,24
43,2048527,67,prior,8,2,11,7.000000,196,1,1,both,Soda,77,7,9.0,both,24
44,2389031,67,prior,9,2,14,7.000000,196,1,1,both,Soda,77,7,9.0,both,24
45,2378562,67,prior,10,1,10,6.000000,196,1,1,both,Soda,77,7,9.0,both,24
46,1515698,67,prior,11,1,11,7.000000,196,1,1,both,Soda,77,7,9.0,both,24
47,1928050,67,prior,12,2,12,8.000000,196,1,1,both,Soda,77,7,9.0,both,24
48,1949274,67,prior,13,1,10,6.000000,196,1,1,both,Soda,77,7,9.0,both,24
49,551869,67,prior,14,1,9,7.000000,196,1,1,both,Soda,77,7,9.0,both,24
50,768572,67,prior,16,4,10,9.000000,196,1,1,both,Soda,77,7,9.0,both,24
51,150528,67,prior,18,5,16,4.000000,196,1,1,both,Soda,77,7,9.0,both,24
52,29758,67,prior,19,0,14,9.000000,196,2,1,both,Soda,77,7,9.0,both,24
53,1558976,67,prior,21,1,9,5.000000,196,2,1,both,Soda,77,7,9.0,both,24
54,863974,67,prior,22,1,11,14.000000,196,3,1,both,Soda,77,7,9.0,both,24
55,2308399,67,prior,23,1,14,14.000000,196,1,1,both,Soda,77,7,9.0,both,24
56,2759128,81,prior,3,1,9,14.000000,196,2,0,both,Soda,77,7,9.0,both,7
57,1812985,81,prior,5,2,20,30.000000,196,1,1,both,Soda,77,7,9.0,both,7
58,1889835,82,prior,1,3,15,11.114836,196,6,0,both,Soda,77,7,9.0,both,19
59,499460,82,prior,3,5,10,5.000000,196,2,1,both,Soda,77,7,9.0,both,19
60,2728456,82,prior,4,0,11,16.000000,196,1,1,both,Soda,77,7,9.0,both,19
61,2653743,82,prior,6,4,9,13.000000,196,5,1,both,Soda,77,7,9.0,both,19
62,1358880,82,prior,9,1,10,30.000000,196,1,1,both,Soda,77,7,9.0,both,19
63,343588,82,prior,10,2,11,1.000000,196,1,1,both,Soda,77,7,9.0,both,19
64,3034663,82,prior,15,2,11,12.000000,196,1,1,both,Soda,77,7,9.0,both,19
65,147262,82,prior,18,1,13,7.000000,196,1,1,both,Soda,77,7,9.0,both,19
66,3144004,82,prior,19,2,15,8.000000,196,1,1,both,Soda,77,7,9.0,both,19
67,2126069,98,prior,3,0,9,25.000000,196,7,0,both,Soda,77,7,9.0,both,14
68,2210120,98,prior,7,5,14,5.000000,196,1,1,both,Soda,77,7,9.0,both,14
69,681011,98,prior,9,3,9,30.000000,196,1,1,both,Soda,77,7,9.0,both,14
70,2846344,98,prior,11,4,13,15.000000,196,2,1,both,Soda,77,7,9.0,both,14
71,747431,98,prior,12,6,13,30.000000,196,4,1,both,Soda,77,7,9.0,both,14
72,2383054,98,prior,13,4,11,30.000000,196,1,1,both,Soda,77,7,9.0,both,14
73,1993729,98,prior,14,5,8,8.000000,196,2,1,both,Soda,77,7,9.0,both,14
74,1403849,109,prior,3,3,17,9.000000,196,5,0,both,Soda,77,7,9.0,both,6
75,520620,120,prior,1,3,11,11.114836,196,2,0,both,Soda,77,7,9.0,both,3
76,3273029,120,prior,3,2,8,19.000000,196,2,1,both,Soda,77,7,9.0,both,3
77,1861943,185,prior,2,1,12,25.000000,196,10,0,both,Soda,77,7,9.0,both,6
78,2040988,195,prior,1,1,14,11.114836,196,2,0,both,Soda,77,7,9.0,both,58
79,1680569,195,prior,8,1,9,4.000000,196,2,1,both,Soda,77,7,9.0,both,58
80,276171,195,prior,19,5,11,3.000000,196,2,1,both,Soda,77,7,9.0,both,58
81,2744976,195,prior,22,5,10,7.000000,196,2,1,both,Soda,77,7,9.0,both,58
82,2781919,195,prior,25,1,14,4.000000,196,1,1,both,Soda,77,7,9.0,both,58
83,1738718,195,prior,31,2,8,4.000000,196,2,1,both,Soda,77,7,9.0,both,58
84,3058369,195,prior,34,3,10,6.000000,196,2,1,both,Soda,77,7,9.0,both,58
85,1485596,195,prior,37,2,15,0.000000,196,2,1,both,Soda,77,7,9.0,both,58
86,417035,195,prior,40,3,16,2.000000,196,2,1,both,Soda,77,7,9.0,both,58
87,1615297,195,prior,47,5,10,2.000000,196,2,1,both,Soda,77,7,9.0,both,58
88,1765587,195,prior,52,3,12,2.000000,196,3,1,both,Soda,77,7,9.0,both,58
89,745908,195,prior,57,4,11,3.000000,196,3,1,both,Soda,77,7,9.0,both,58
90,2505656,222,prior,17,2,12,1.000000,196,2,0,both,Soda,77,7,9.0,both,70
91,3268370,222,prior,38,5,15,1.000000,196,6,1,both,Soda,77,7,9.0,both,70
92,2016711,290,prior,9,5,19,6.000000,196,8,0,both,Soda,77,7,9.0,both,51
93,2706088,290,prior,28,6,10,7.000000,196,16,1,both,Soda,77,7,9.0,both,51
94,1952286,331,prior,6,5,16,30.000000,196,8,0,both,Soda,77,7,9.0,both,8
95,3226575,360,prior,1,5,12,11.114836,196,1,0,both,Soda,77,7,9.0,both,3
96,1469869,377,prior,3,5,17,3.000000,196,9,0,both,Soda,77,7,9.0,both,3
97,1927023,387,prior,2,4,10,22.000000,196,3,0,both,Soda,77,7,9.0,both,8
98,858092,420,prior,4,1,19,30.000000,196,2,0,both,Soda,77,7,9.0,both,22
99,119314,420,prior,5,3,19,16.000000,196,2,1,both,Soda,77,7,9.0,both,22

In [22]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [23]:
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [24]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [26]:
df_ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    4865587
Loyal customer      3154279
New customer        1898387
Name: count, dtype: int64

In [28]:
df_ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3