This script contains the following points:
Part 1
1. importing libraries.
2. importing the customers dataset.
3. Wrangle the data so that it follows consistent logic.
4. Complete the fundamental data quality and consistency checks you’ve learned throughout this Achievement; for example, check for and address missing values and duplicates, and convert any mixed-type data.
5. Combine your customer data with the rest of your prepared Instacart data. (Hint: Make sure the key columns are the same data type!)
6.Export this new dataframe as a pickle file.

In [2]:
#import libraries 

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

2. importing data set.

In [3]:
#import
path=r'E:\Instacart Basket Analysis'
customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col=False)

In [4]:
customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [5]:
customers.shape

(206209, 10)

In [6]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [7]:
customers.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

3. Wrangle the data so that it follows consistent logic.

In [8]:
#renaming the columns name
customers.rename(columns= {'First Name' : 'first_name'}, inplace = True)

In [9]:
#renaming the columns name
customers.rename(columns= {'Surnam' : 'last_name'}, inplace = True)

In [10]:
#renaming the columns name
customers.rename(columns= {'Gender' : 'gender'}, inplace = True)

In [11]:
#renaming the columns name
customers.rename(columns= {'STATE' : 'state'}, inplace = True)

In [12]:
#renaming the columns name
customers.rename(columns= {'Age' : 'age'}, inplace = True)

In [13]:
#renaming the columns name
customers.rename(columns= {'fam_status' : 'family_status'}, inplace = True)

#6 variables were renamed and now all the columns have a similar form

In [14]:
#Dropping First_name and last_name
customers=customers.drop(columns=['first_name','last_name'])

#2 variables were dropped

4. Complete the fundamental data quality and consistency checks you’ve learned throughout this Achievement; for example, check for and address missing values and duplicates, and convert any mixed-type data.

In [15]:
# Check for missing values
missing_values = customers.isnull().sum()
missing_values

user_id          0
gender           0
state            0
age              0
date_joined      0
n_dependants     0
family_status    0
income           0
dtype: int64

#There is no mssing values in the dataframe

In [16]:
#findding full duplicates
customers_dups=customers[customers.duplicated()]
customers_dups

Empty DataFrame
Columns: [user_id, gender, state, age, date_joined, n_dependants, family_status, income]
Index: []

#There is no duplicates in the dataframe

In [17]:
#checking data types
customers.dtypes

user_id           int64
gender           object
state            object
age               int64
date_joined      object
n_dependants      int64
family_status    object
income            int64
dtype: object

In [18]:
#Check for mixed-type data in your df_ords dataframe
for col in customers.columns.tolist():
  weird = (customers[[col]].map(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customers[weird]) > 0:
    print (col)

#There's no mixed data present

5. Combine your customer data with the rest of your prepared Instacart data.

In [19]:
# Import the rest of prepared Instacart data
path = r'E:\Instacart Basket Analysis'
df_cust = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_grouping_customers.pkl'))
df_cust.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,busiest day,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spend,spender_flag,customer_frequency,frequency_flag
0,0,2539329,1,prior,1,2,8,11.114836,196,1,...,Regularly busy,Regularly busy,Regularly busy,Most orders,10,New customer,6.367797,Low_spender,20.0,Regular customer.
1,1,2398795,1,prior,2,3,7,15.000000,196,1,...,Regularly busy,Regularly busy,Regularly busy,Fewest orders,10,New customer,6.367797,Low_spender,20.0,Regular customer.
2,2,473747,1,prior,3,3,12,21.000000,196,1,...,Regularly busy,Regularly busy,Regularly busy,Most orders,10,New customer,6.367797,Low_spender,20.0,Regular customer.
3,3,2254736,1,prior,4,4,7,29.000000,196,1,...,Least busy,Least busy,Least busy,Fewest orders,10,New customer,6.367797,Low_spender,20.0,Regular customer.
4,4,431534,1,prior,5,4,15,28.000000,196,1,...,Least busy,Least busy,Least busy,Most orders,10,New customer,6.367797,Low_spender,20.0,Regular customer.

In [20]:
df_cust.dtypes

Unnamed: 0                  int64
order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
product_id                  int64
add_to_cart_order           int64
reordered                   int64
_merge                     object
product_name               object
aisle_id                    int64
department_id               int64
prices                    float64
merge_flag                 object
busiest day                object
busiest_day                object
busiest_days               object
busiest_period_of_day      object
max_order                   int64
loyalty_flag               object
average_spend             float64
spender_flag               object
customer_frequency        float64
frequency_flag             object
dtype: object

In [21]:
df_cust.shape

(9918253, 27)

In [22]:
customers.shape

(206209, 8)

In [25]:
#merging
df_merged_1 = df_cust.merge(customers, on='user_id', indicator='merge_flag_2')

df_merged_1.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,customer_frequency,frequency_flag,gender,state,age,date_joined,n_dependants,family_status,income,merge_flag_2
0,0,2539329,1,prior,1,2,8,11.114836,196,1,...,20.0,Regular customer.,Female,Alabama,31,2/17/2019,3,married,40423,both
1,1,2398795,1,prior,2,3,7,15.000000,196,1,...,20.0,Regular customer.,Female,Alabama,31,2/17/2019,3,married,40423,both
2,2,473747,1,prior,3,3,12,21.000000,196,1,...,20.0,Regular customer.,Female,Alabama,31,2/17/2019,3,married,40423,both
3,3,2254736,1,prior,4,4,7,29.000000,196,1,...,20.0,Regular customer.,Female,Alabama,31,2/17/2019,3,married,40423,both
4,4,431534,1,prior,5,4,15,28.000000,196,1,...,20.0,Regular customer.,Female,Alabama,31,2/17/2019,3,married,40423,both

6.Export this new dataframe as a pickle file.

In [26]:
# Export data to pkl

df_merged_1.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_customers_part_1.pkl'))